@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');


html,
body {
  width: 100%;
  min-height: 100%;
  font-family: 'Oswald', sans-serif;
  background-color: black;
}

body {
  background-color: white;
  margin: 0;

}

.navbar {
  margin-top: 30px;
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: pink;
}

.navbar-default .navbar-brand {
  color: pink;
}

.navbar-default .navbar-brand:hover {
  color: white;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.btn:focus, input:focus {
    outline:none;
}

.card {
  -webkit-box-shadow: 3px 3px 32px -2px rgba(128,125,128,0.93);
  -moz-box-shadow: 3px 3px 32px -2px rgba(128,125,128,0.93);
  box-shadow: 3px 3px 32px -2px rgba(128,125,128,0.93);
}

.card::-webkit-scrollbar {
  display: none;
}

.cardMain {
  border-radius: inherit;
  // width: 70%;
  background-color: transparent;
  // top: 0;
  // float: right;
  // text-align: left;
  padding-left: 10px;
  padding-right: 15px;
}

.singleMovie {
  background-color: #000;
  color: white;
}
.singleMovieHero {
  width: 100%;
  height: 100%;
  margin-top: -100px;
  text-align: center;
  color: white;
  background: -moz-radial-gradient(center, ellipse cover, rgba(63,76,107,0.2) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(63,76,107,0.2) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(63,76,107,0.2) 0%,rgba(0,0,0,1) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#173f4c6b', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,000000+88&0+0,1+91 */
  background: -moz-linear-gradient(top, rgba(63,76,107,0.3) 0%, rgba(0,0,0,0.97) 88%, rgba(0,0,0,1) 91%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(63,76,107,0.3) 0%,rgba(0,0,0,0.97) 88%,rgba(0,0,0,1) 91%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(63,76,107,0.3) 0%,rgba(0,0,0,0.97) 88%,rgba(0,0,0,1) 91%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003f4c6b', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

  .movieTitle {
    top: 45%;

  }
}

.movieTitle {
  h4 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
  }
}
#ytplayer {
  width: 100% !important;
  height: 90vh !important;

}

.modal-content {
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: transparent;
}
iframe {
  border-radius: 10px;
}

.poster-button {
  background-color: transparent;
  border-color: transparent;
}
.poster-button:hover {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}
.movieInfoHero {
  margin-top: -380px;
  margin-bottom: 20px;

}
.btn-toolbar {
  margin-top: 20px;
  margin-bottom: 20px;
  .genre-button {
    border-radius: 20px;
    border-color: transparent;
    background-color: #353839;
    margin-bottom: 15px;
    color: white;
    a {
      color: white;
    }
  }
}

.trailer-button {
  border-radius: 20px;
  background-color: rgb(86, 75, 214);
  border-color: rgb(86, 75, 214);

}

.trailer-button:hover {
  border-radius: 20px;
  background-color: rgb(86, 75, 214);
  border-color: rgb(86, 75, 214);
}

.movie-info-section {
  background-color: #000;
  .profile-pic {
    width: 100px;
    height: auto;
    border-radius: 10px;
  }
  .small-profile-pic {
    width: 100px;
    height: auto;
    border-radius: 10px;


  }
  .thumbnail-row {

  }
  .thumbnail {
    background-color: transparent;
    border-color: transparent;
    .caption {
      color: white;
      p {
        color: gray;
      }
    }
  }
}


.footer {
  padding-top: 20px;
  height: 300px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  color: white;

  .footer-links {
    padding-top: 15px;
    a {
      color: white;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .social-links {
    padding-top: 20px;
    a {
      padding-left: 10px;
      padding-right: 10px;
      color: rgba(255, 255, 255, 1);
      // height: 30px;
      // width: 30px;
    }
    .circle-icon {
        background: rgba(29, 29, 31, 1);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        vertical-align: middle;
        // padding: 30px;
    }

  }
}



.home-styles {
  background-color: white;
  // color: white;
  body,
html {
  padding: 0 10px;
  margin: 0;
  background: #0e0f11;
  color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
* {
  box-sizing: border-box;
}
h1,
p {
  text-align: center;
}
p {
  width: 100%;
  max-width: 500px;
  margin: auto;
}
a:link,
a:hover,
a:active,
a:visited {
  transition: color 150ms;
  // color: #95a5a6;
  text-decoration: none;
}
a:hover {
  // color: #7f8c8d;
  text-decoration: underline;
}
.contain {
  width: 100%;
}
.scroll-row {
  overflow: scroll;
  width: 90%;
}
.row__inner {
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70.3125px 0;
  padding-bottom: 10px;
  padding-left: 70px;
}
.tile {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 140.625px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  -webkit-transform-origin: center left;
          transform-origin: center left;
}
.tile-arrow {
  width: 50px;
  position: absolute;
  .right-btn {
    float: right;
  }
}
.tile__img {
  width: 250px;
  height: 140.625px;
  -o-object-fit: cover;
     object-fit: cover;
}
.tile__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
  transition: 450ms opacity;
}
.tile__details:after,
.tile__details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}
.tile__details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}
.tile__details:before {
  // content: '▶';
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -18px;
  text-align: center;
  z-index: 2;
}
.tile:hover .tile__details {
  opacity: 1;
}
.tile__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.row__inner:hover {
  -webkit-transform: translate3d(-62.5px, 0, 0);
          transform: translate3d(-62.5px, 0, 0);
}
.row__inner:hover .tile {
  opacity: 0.3;
}
.row__inner:hover .tile:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 1;
}
.tile:hover ~ .tile {
  -webkit-transform: translate3d(125px, 0, 0);
          transform: translate3d(125px, 0, 0);
}


}



#carousel {
    position: relative;
    height: 200px;
    width: 810px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: #228291;
    line-height: 30px;
    margin-top: 85px;
    z-index: 1000;
}

.arrow-right {
    left: 780px;
}

.item {
    text-align: center;
    color: white;
    font-size: 40px;
    position: absolute;
    transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s, background-color 1s;
}

$level2-height: 150px;
$level2-width: 110px;
$level1-height: 180px;
$level1-width: 130px;
$level0-height: 200px;
$level0-width: 150px;

$level-2-left: 650px;
$level-1-left: 500px;
$level0-left: 330px;
$level1-left: 180px;
$level2-left: 50px;


.level-2 {
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    background-color: #228291;
    left: $level-2-left;
    margin-top: 25px;
}

.level-1 {
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    background-color: #6796E5;
    left: $level-1-left;
    margin-top: 10px;
}

.level0 {
    height: $level0-height;
    width: $level0-width;
    line-height: $level0-height;
    background-color: #4EC9E1;
    left: $level0-left;
}

.level1 {
    height: $level1-height;
    width: $level1-width;
    line-height: $level1-height;
    background-color: #6796E5;
    margin-top: 10px;
    left: $level1-left;
}

.level2 {
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    background-color: #228291;
    margin-top: 25px;
    left: $level2-left;
}

.left-enter {
    opacity: 0;
    left: $level2-left - $level2-width;
    height: $level2-height - 30;
    width: $level2-width - 20;
    line-height: $level2-height - 30;
    margin-top: 40px;
}

.left-enter.left-enter-active {
    opacity: 1;
    left: $level2-left;
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    margin-top: 25px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.left-leave {
    opacity: 1;
    left: $level-2-left;
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    margin-top: 25px;
}

.left-leave.left-leave-active {
    left: $level-2-left + $level2-width + 20;
    opacity: 0;
    height: $level2-height - 30;
    line-height: 120px;
    margin-top: 40px;
    width: $level2-width - 20;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-enter {
    opacity: 0;
    left: $level-2-left + $level2-width;
    height: $level2-height - 30;
    width: $level2-width - 20;
    line-height: $level2-height - 30;
    margin-top: 40px;
}

.right-enter.right-enter-active {
    left: $level-2-left;
    opacity: 1;
    height: $level2-height;
    margin-top: 25px;
    line-height: $level2-height;
    width: $level2-width;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-leave {
    left: $level2-left;
    height: $level2-height;
    opacity: 1;
    margin-top: 25px;
    line-height: $level2-height;
    width: $level2-width;
}

.right-leave.right-leave-active {
    left: $level2-left - $level2-width;
    opacity: 0;
    height: $level2-height - 30;
    width: $level2-width - 20;
    line-height: $level2-height - 30;
    margin-top: 40px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.noselect {
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
