@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,700");
html,
body {
  width: 100%;
  min-height: 100%;
  font-family: 'Oswald', sans-serif;
  background-color: black; }

body {
  background-color: white;
  margin: 0; }

.navbar {
  margin-top: 30px;
  color: white; }

.navbar-default .navbar-nav > li > a {
  color: white; }

.navbar-default .navbar-nav > li > a:hover {
  color: pink; }

.navbar-default .navbar-brand {
  color: pink; }

.navbar-default .navbar-brand:hover {
  color: white; }

.navbar-default {
  background-color: transparent;
  border-color: transparent; }

.btn:focus, input:focus {
  outline: none; }

.card {
  -webkit-box-shadow: 3px 3px 32px -2px rgba(128, 125, 128, 0.93);
  -moz-box-shadow: 3px 3px 32px -2px rgba(128, 125, 128, 0.93);
  box-shadow: 3px 3px 32px -2px rgba(128, 125, 128, 0.93); }

.card::-webkit-scrollbar {
  display: none; }

.cardMain {
  border-radius: inherit;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 15px; }

.singleMovie {
  background-color: #000;
  color: white; }

.singleMovieHero {
  width: 100%;
  height: 100%;
  margin-top: -100px;
  text-align: center;
  color: white;
  background: -moz-radial-gradient(center, ellipse cover, rgba(63, 76, 107, 0.2) 0%, black 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(63, 76, 107, 0.2) 0%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(63, 76, 107, 0.2) 0%, black 90%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#173f4c6b', endColorstr='#000000',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,000000+88&0+0,1+91 */
  background: -moz-linear-gradient(top, rgba(63, 76, 107, 0.3) 0%, rgba(0, 0, 0, 0.97) 88%, black 91%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(63, 76, 107, 0.3) 0%, rgba(0, 0, 0, 0.97) 88%, black 91%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(63, 76, 107, 0.3) 0%, rgba(0, 0, 0, 0.97) 88%, black 91%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003f4c6b', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }
  .singleMovieHero .movieTitle {
    top: 45%; }

.movieTitle h4 {
  margin-bottom: 20px; }

.movieTitle p {
  margin-bottom: 20px; }

#ytplayer {
  width: 100% !important;
  height: 90vh !important; }

.modal-content {
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: transparent; }

iframe {
  border-radius: 10px; }

.poster-button {
  background-color: transparent;
  border-color: transparent; }

.poster-button:hover {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer; }

.movieInfoHero {
  margin-top: -380px;
  margin-bottom: 20px; }

.btn-toolbar {
  margin-top: 20px;
  margin-bottom: 20px; }
  .btn-toolbar .genre-button {
    border-radius: 20px;
    border-color: transparent;
    background-color: #353839;
    margin-bottom: 15px;
    color: white; }
    .btn-toolbar .genre-button a {
      color: white; }

.trailer-button {
  border-radius: 20px;
  background-color: #564bd6;
  border-color: #564bd6; }

.trailer-button:hover {
  border-radius: 20px;
  background-color: #564bd6;
  border-color: #564bd6; }

.movie-info-section {
  background-color: #000; }
  .movie-info-section .profile-pic {
    width: 100px;
    height: auto;
    border-radius: 10px; }
  .movie-info-section .small-profile-pic {
    width: 100px;
    height: auto;
    border-radius: 10px; }
  .movie-info-section .thumbnail {
    background-color: transparent;
    border-color: transparent; }
    .movie-info-section .thumbnail .caption {
      color: white; }
      .movie-info-section .thumbnail .caption p {
        color: gray; }

.footer {
  padding-top: 20px;
  height: 300px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  color: white; }
  .footer .footer-links {
    padding-top: 15px; }
    .footer .footer-links a {
      color: white;
      padding-left: 5px;
      padding-right: 5px; }
  .footer .social-links {
    padding-top: 20px; }
    .footer .social-links a {
      padding-left: 10px;
      padding-right: 10px;
      color: white; }
    .footer .social-links .circle-icon {
      background: #1d1d1f;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-align: center;
      line-height: 50px;
      vertical-align: middle; }

.home-styles {
  background-color: white; }
  .home-styles body,
  .home-styles html {
    padding: 0 10px;
    margin: 0;
    background: #0e0f11;
    color: #ecf0f1;
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%; }
  .home-styles * {
    box-sizing: border-box; }
  .home-styles h1,
  .home-styles p {
    text-align: center; }
  .home-styles p {
    width: 100%;
    max-width: 500px;
    margin: auto; }
  .home-styles a:link,
  .home-styles a:hover,
  .home-styles a:active,
  .home-styles a:visited {
    transition: color 150ms;
    text-decoration: none; }
  .home-styles a:hover {
    text-decoration: underline; }
  .home-styles .contain {
    width: 100%; }
  .home-styles .scroll-row {
    overflow: scroll;
    width: 90%; }
  .home-styles .row__inner {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin: 70.3125px 0;
    padding-bottom: 10px;
    padding-left: 70px; }
  .home-styles .tile {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 140.625px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left; }
  .home-styles .tile-arrow {
    width: 50px;
    position: absolute; }
    .home-styles .tile-arrow .right-btn {
      float: right; }
  .home-styles .tile__img {
    width: 250px;
    height: 140.625px;
    -o-object-fit: cover;
    object-fit: cover; }
  .home-styles .tile__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 10px;
    opacity: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    transition: 450ms opacity; }
  .home-styles .tile__details:after,
  .home-styles .tile__details:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: #000; }
  .home-styles .tile__details:after {
    margin-top: -25px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border: 3px solid #ecf0f1;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1; }
  .home-styles .tile__details:before {
    left: 0;
    width: 100%;
    font-size: 30px;
    margin-left: 7px;
    margin-top: -18px;
    text-align: center;
    z-index: 2; }
  .home-styles .tile:hover .tile__details {
    opacity: 1; }
  .home-styles .tile__title {
    position: absolute;
    bottom: 0;
    padding: 10px; }
  .home-styles .row__inner:hover {
    -webkit-transform: translate3d(-62.5px, 0, 0);
    transform: translate3d(-62.5px, 0, 0); }
  .home-styles .row__inner:hover .tile {
    opacity: 0.3; }
  .home-styles .row__inner:hover .tile:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1; }
  .home-styles .tile:hover ~ .tile {
    -webkit-transform: translate3d(125px, 0, 0);
    transform: translate3d(125px, 0, 0); }

#carousel {
  position: relative;
  height: 200px;
  width: 810px;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: white;
  text-align: center;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  color: #228291;
  line-height: 30px;
  margin-top: 85px;
  z-index: 1000; }

.arrow-right {
  left: 780px; }

.item {
  text-align: center;
  color: white;
  font-size: 40px;
  position: absolute;
  transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s, background-color 1s; }

.level-2 {
  height: 150px;
  width: 110px;
  line-height: 150px;
  background-color: #228291;
  left: 650px;
  margin-top: 25px; }

.level-1 {
  height: 180px;
  width: 130px;
  line-height: 180px;
  background-color: #6796E5;
  left: 500px;
  margin-top: 10px; }

.level0 {
  height: 200px;
  width: 150px;
  line-height: 200px;
  background-color: #4EC9E1;
  left: 330px; }

.level1 {
  height: 180px;
  width: 130px;
  line-height: 180px;
  background-color: #6796E5;
  margin-top: 10px;
  left: 180px; }

.level2 {
  height: 150px;
  width: 110px;
  line-height: 150px;
  background-color: #228291;
  margin-top: 25px;
  left: 50px; }

.left-enter {
  opacity: 0;
  left: -60px;
  height: 120px;
  width: 90px;
  line-height: 120px;
  margin-top: 40px; }

.left-enter.left-enter-active {
  opacity: 1;
  left: 50px;
  height: 150px;
  width: 110px;
  line-height: 150px;
  margin-top: 25px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s; }

.left-leave {
  opacity: 1;
  left: 650px;
  height: 150px;
  width: 110px;
  line-height: 150px;
  margin-top: 25px; }

.left-leave.left-leave-active {
  left: 780px;
  opacity: 0;
  height: 120px;
  line-height: 120px;
  margin-top: 40px;
  width: 90px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s; }

.right-enter {
  opacity: 0;
  left: 760px;
  height: 120px;
  width: 90px;
  line-height: 120px;
  margin-top: 40px; }

.right-enter.right-enter-active {
  left: 650px;
  opacity: 1;
  height: 150px;
  margin-top: 25px;
  line-height: 150px;
  width: 110px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s; }

.right-leave {
  left: 50px;
  height: 150px;
  opacity: 1;
  margin-top: 25px;
  line-height: 150px;
  width: 110px; }

.right-leave.right-leave-active {
  left: -60px;
  opacity: 0;
  height: 120px;
  width: 90px;
  line-height: 120px;
  margin-top: 40px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s; }

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
