@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,700");
html,
body {
  width: 100%;
  min-height: 100%;
  font-family: 'Oswald', sans-serif;
  background-color: black; }

body {
  background-color: white;
  margin: 0; }

.navbar {
  margin-top: 30px;
  color: white; }

.navbar-default .navbar-nav > li > a {
  color: white; }

.navbar-default .navbar-nav > li > a:hover {
  color: pink; }

.navbar-default .navbar-brand {
  color: pink; }

.navbar-default .navbar-brand:hover {
  color: white; }

.navbar-default {
  background-color: transparent;
  border-color: transparent; }

.btn:focus, input:focus {
  outline: none; }

.card {
  -webkit-box-shadow: 3px 3px 32px -2px rgba(128, 125, 128, 0.93);
  -moz-box-shadow: 3px 3px 32px -2px rgba(128, 125, 128, 0.93);
  box-shadow: 3px 3px 32px -2px rgba(128, 125, 128, 0.93); }

.card::-webkit-scrollbar {
  display: none; }

.cardMain {
  border-radius: inherit;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 15px; }

.singleMovie {
  background-color: #000;
  color: white; }

.singleMovieHero {
  width: 100%;
  height: 100%;
  margin-top: -100px;
  text-align: center;
  color: white;
  background: -moz-radial-gradient(center, ellipse cover, rgba(63, 76, 107, 0.2) 0%, black 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(63, 76, 107, 0.2) 0%, black 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(63, 76, 107, 0.2) 0%, black 90%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#173f4c6b', endColorstr='#000000',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,000000+88&0+0,1+91 */
  background: -moz-linear-gradient(top, rgba(63, 76, 107, 0.3) 0%, rgba(0, 0, 0, 0.97) 88%, black 91%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(63, 76, 107, 0.3) 0%, rgba(0, 0, 0, 0.97) 88%, black 91%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(63, 76, 107, 0.3) 0%, rgba(0, 0, 0, 0.97) 88%, black 91%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003f4c6b', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }
  .singleMovieHero .movieTitle {
    top: 45%; }

.movieTitle h4 {
  margin-bottom: 20px; }

.movieTitle p {
  margin-bottom: 20px; }

#ytplayer {
  width: 100% !important;
  height: 90vh !important; }

.modal-content {
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: transparent; }

iframe {
  border-radius: 10px; }

.poster-button {
  background-color: transparent;
  border-color: transparent; }

.poster-button:hover {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer; }

.movieInfoHero {
  margin-top: -380px;
  margin-bottom: 20px; }

.btn-toolbar {
  margin-top: 20px;
  margin-bottom: 20px; }
  .btn-toolbar .genre-button {
    border-radius: 20px;
    border-color: transparent;
    background-color: #353839;
    margin-bottom: 15px;
    color: white; }
    .btn-toolbar .genre-button a {
      color: white; }

.trailer-button {
  border-radius: 20px;
  background-color: #564bd6;
  border-color: #564bd6; }

.trailer-button:hover {
  border-radius: 20px;
  background-color: #564bd6;
  border-color: #564bd6; }

.movie-info-section {
  background-color: #000; }
  .movie-info-section .profile-pic {
    width: 100px;
    height: auto;
    border-radius: 10px; }
  .movie-info-section .small-profile-pic {
    width: 100px;
    height: auto;
    border-radius: 10px; }
  .movie-info-section .thumbnail {
    background-color: transparent;
    border-color: transparent; }
    .movie-info-section .thumbnail .caption {
      color: white; }
      .movie-info-section .thumbnail .caption p {
        color: gray; }

.footer {
  padding-top: 20px;
  height: 300px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
  color: white; }
  .footer .footer-links {
    padding-top: 15px; }
    .footer .footer-links a {
      color: white;
      padding-left: 5px;
      padding-right: 5px; }
  .footer .social-links {
    padding-top: 20px; }
    .footer .social-links a {
      padding-left: 10px;
      padding-right: 10px;
      color: white; }
    .footer .social-links .circle-icon {
      background: #1d1d1f;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-align: center;
      line-height: 50px;
      vertical-align: middle; }

.home-styles {
  background-color: white; }
  .home-styles .container {
    padding-top: 100px;
    padding-bottom: 100px; }
    .home-styles .container .row {
      margin-bottom: 40px; }
      .home-styles .container .row h3 {
        margin-bottom: 20px; }
    .home-styles .container .movie-thumbnail {
      margin-bottom: 20px; }
      .home-styles .container .movie-thumbnail .badge {
        background-color: pink;
        float: right; }
      .home-styles .container .movie-thumbnail h5 {
        color: #1d1d1f;
        font-size: 13px; }
      .home-styles .container .movie-thumbnail p {
        font-size: 11px;
        width: 154px; }
        .home-styles .container .movie-thumbnail p i {
          font-size: 9px;
          line-height: 0.5px;
          white-space: nowrap;
          padding: 3px 3px;
          padding-bottom: 3px;
          vertical-align: middle; }
